header{
    background-color:  #635b38 ;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    top: 0;
}
.container{
    width: 1200px;
    margin: auto;
}
nav{}
nav ul{display: flex;justify-content: center;align-items: center;}
nav ul li{
}
nav ul li a{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    padding: 10px 15px;
    transition: all 0.4s ease; 
}
nav ul li a:hover{
    color: #1ed760;
}
nav ul li a img{
	width: 200px;
}


section{
    background: #33393fd4 url(../images/img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: hue;
}
.flex{

display: flex;

flex-wrap: wrap;

align-items: center;

height: 100vh;
}
.content{
    max-width: 50%;
    padding: 15px;
    flex: 0 0 50%;
}
.form{
    max-width: 50%;
    padding: 15px;
    flex: 0 0 50%;
}


.content h1{
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
}
.content p{
    font-size: 20px;
    color: #fff;
}
.content ul{
    margin: 10px 0;
}
.content ul li{
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
}
.content a{
    background: #1ed760;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 30px;
    box-shadow: 0 6px 0px #0d7131;
}

.form-content{
    background: #1ed760;
    padding: 35px 20px;
    max-width: 400px;
    margin-left: auto;
    text-align: center;
    box-shadow: 0 1px 15px #02020252;
}
.form-content h2{
    color: #fff;
    font-size: 30px;
    text-transform: capitalize;
}
.form-content p{
    font-size: 20px;
    color: #fff;
}
.form-content form{
    margin-top: 20px;
}
.form-content form input{
    width: 100%;
    border: 0;
    padding: 10px 15px;
    margin-bottom: 10px;
    color: #33393f;
    padding: 12px 30px;
    border-radius: 30px;
    box-shadow: 0 1px 5px #696969;
    font-size: 16px;
}
.form-content form input[type="submit"]{
	
	
font-size: 20px;
	
text-transform: uppercase;
	
background: #14a247;
box-shadow: 0 6px 0 #0d7131;
	
color: #fff;
transition: all 0.4s;
cursor: pointer;
}

.form-content form input[type="submit"]:hover{
 
box-shadow: 0 0 0 #0d7131; 
}
 